/* Theme */

:root {
    --header-text: whitesmoke;
    /* whitesmoke */
    --header-bg: #3bf;
    /* #3bf */
    --text: #333;
    /* #333 */
    --bg: #f2f2f2;
    /* #f2f2f2f2 */
    --fg: #fff;
    /* #fff */
    --fertig: #3c3;
    /* #3c3 */
    --error: red;
    /* red */
    --schatten: #ccc;
    /* #ccc */
    --popUpBg: rgba(26, 26, 26, 0.7);
}

/* Darkmode */
.dark {
    --header-bg: #00004d;
    /* #00004d */
    --text: whitesmoke;
    /* whitesmoke */
    --bg: #262626;
    /* #262626 */
    --fg: #0d0d0d;
    /* #0d0d0d */
    --schatten: #000;
    /* #000 */
}

* {
    font-family: 'Ubuntu', 'Arial', sans-serif;
    padding: 0;
    margin: 0;
    color: var(--text);
}

body {
    background-color: var(--bg);
    font-size: 14pt;
}

button,
button[type=submit],
#buttonAdd,
div.item-div button,
div.item-div a.item-title {
    outline: none;
}

.noscript {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    text-align: center;
    background-color: var(--popUpBg);
    width: 100%;
    height: 100%;
    padding-top: 200px;
}

.noscript h1,
.noscript h3,
.noscript p,
.noscript a {
    color: #fff !important;
    line-height: 1.5;
}

#ie,
.form-check input {
    display: none;
}

header {
    background-color: var(--header-bg);
    width: 100%;
    padding: 20px;
    text-align: center;
    font-size: 28pt;
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    user-select: none;
}

.noscript h1 {
    font-size: 45px;
}

.noscript h1,
header h1,
main#accountSettings h3 {
    font-family: 'Josefin Slab', 'DejaVu Serif', -apple-system, Times, 'Times New Roman', serif;
}

header h1 {
    color: var(--header-text) !important;
    margin-bottom: 0;
    padding-bottom: 0;
    line-height: 1;
}

header button,
main#accountSettings button {
    background-color: transparent;
    border: none;
    padding-left: 5px;
    padding-right: 15px;
    line-height: 1;
    font-size: 14pt;
    float: left;
    cursor: pointer;
    margin-right: 5px;
    display: block;
}

header button i {
    color: var(--header-text);
    font-size: 14pt;
}

header button svg {
    height: 1.2em;
}

header button svg path, header button svg rect, header button svg circle {
    stroke: var(--header-text);
}

svg.darkmode-icon path {
    fill: var(--header-text);
}

main {
    margin-top: 135px;
    width: 100%;
}

main#mainConntent {
    display: block;
    margin-bottom: 65px;
}

code {
    font-family: 'Courier New', Courier, monospace;
}

div.list {
    padding: 10px;
}

div.item-div {
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: var(--fg);
    padding: 8px;
    border-radius: 5px;
    cursor: default;
    transition: 0.2s;
    display: flex;
}

div.item-div:hover {
    transform: scale(1.007);
}

div.item-div button,
div.item-div a.item-title {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 14pt;
    text-align: left;
    display: block;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

div.item-div a.item-title {
    flex-grow: 1;
    position: relative;
    padding-left: 26px;
    padding-right: 8px;
}

div.item-div a.disabled-link {
    pointer-events: none !important;
}

div.item-div a.item-title span.check-mark {
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    border: 2px solid var(--text);
    border-radius: 3px;
}

div.item-div a.item-title span.check-mark.checked {
    background-color: var(--fertig);
    border-color: var(--fertig);
}

div.item-div a.item-title span.check-mark.checked::after {
    content: "";
    position: absolute;
    width: 5px;
    height: 11px;
    border: solid var(--fg);
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
    left: 5px;
    top: 1px;
}

div.item-div svg {
    height: 1.05em;
}

div.item-div svg path, div.item-div svg rect {
    stroke: var(--text);
}

.form-new {
    padding: 10px;
    display: flex;
    height: 40px;
}

input {
    border: none;
    border-radius: 5px;
    padding: 8px;
    font-size: 14pt;
    outline: none;
}

input[type=submit],
main#accountSettings form button {
    padding: 5px;
    text-align: center;
    cursor: pointer;
    color: var(--header-text);
    background-color: var(--header-bg) !important;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    display: block;
    appearance: none !important;
}

main#accountSettings {
    display: none;
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
}

.form-new input[type=submit] {
    width: 40px;
    margin-left: 10px;
    font-size: 30px;
    line-height: 1;
}

.form-new input[type=text] {
    flex-grow: 1;
    background-color: var(--fg);
}

.overlay-footer {
    z-index: 2;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: var(--bg);
    box-shadow: 0 -8px 6px -6px var(--schatten);
}

button.warning {
    background-color: var(--error) !important;
}

main#accountSettings hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

form#delete-account {
    padding-bottom: 55px;
}

main#accountSettings h3 {
    font-size: 22pt;
    display: inline;
}

main#accountSettings i {
    font-size: 20px;
    margin-top: 4px;
}

main#accountSettings form {
    display: block;
    box-sizing: border-box;
}

main#accountSettings form label {
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
}

main#accountSettings form input[type=submit],
main#accountSettings form button {
    font-size: 14pt;
    margin-top: 18px;
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 5px;
    height: 37.6px;
    display: block;
    box-sizing: border-box;
    position: static;
}

main#accountSettings form input[type=text],
main#accountSettings form input[type=password],
main#accountSettings form input[type=email] {
    color: var(--text);
    background-color: var(--fg);
    width: 100%;
    box-sizing: border-box;
}

.form-check {
    display: inline;
}

.fa-times-circle {
    color: var(--error);
}

.fa-check-circle {
    color: var(--fertig);
}


/* Reponsive Design */
@media screen and (max-width: 750px) {
    header h1 {
        display: none;
    }

    main {
        margin-top: 65px;
    }

    /* Aufgaben unsichtbar machen, wenn Einstellungen offen sind */
    .mobil-invisible {
        display: none !important;
    }

    main#accountSettings div.secondHeader button:last-child {
        display: none;
    }

    main#accountSettings form input[type=submit],
    main#accountSettings form button {
        width: 100%;
    }
}

@media screen and (min-width: 751px) {
    header {padding-bottom: 10px;}
    main#accountSettings {
        margin: 0 !important;
        position: fixed;
        z-index: 3;
        top: 0;
        left: 0;
        height: 100%;
        background-color: var(--popUpBg);
    }

    main#accountSettings div.settingsContent {
        margin: 30px auto;
        max-width: 550px;
        background-color: var(--bg);
        padding: 15px;
        border-radius: 5px;
        box-sizing: border-box;
    }

    main#accountSettings div button#close {
        float: right;
        padding-right: 0;
    }

    .settingsSubmitBtn {
        width: 70% !important;
        margin-left: 15%;
        margin-right: 15%;
    }

    main#accountSettings div.secondHeader button:first-child {
        display: none;
    }
}